<div style="text-align:center">
  <h1>Hi {{currentUser.firstName}}!</h1>
  <h1>Wähle deinen Shit aus!!</h1>
  <p><button type="button" class="btn btn-primary" routerLink="../ergebnis">Fertig? Dann weiter!</button></p>
  <p><button type="button" class="btn btn-primary" routerLink="../login">Oder doch lieber zurück?</button></p>
</div>
<ul>
  <li *ngFor="let user of users">
      {{user.username}} ({{user.firstName}} {{user.lastName}})
      - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
  </li>
</ul>