<div style="text-align:center">
  <h1>Hi {{currentUser.firstName}}!</h1>
</div>
<h2>Workspaces</h2>
<ul class="workspaces">
  <li *ngFor="let workspace of workspaces$ | async">
    <a [routerLink]="['/home', workspace.key]">
      <span class="badge">{{workspace.key}}</span>{{workspace.name}}
    </a>
  </li>
</ul>
<form [formGroup]="wForm" (ngSubmit)="createWorkspace()">
  <div class="form-group input-group">
    <div class="form-group input-group-btn">
      <button type="submit" class="btn btn-primary"> Hinzufügen</button>
    </div>
    <input type="text" class="form-control" formControlName="spaceName" />
    <div *ngIf="submitted && f.spaceName.errors" class="invalid-feedback">
      <div *ngIf="f.spaceName.errors.required">Ein Name für dein Workspace wird benötigt</div>
    </div>
  </div>
</form>
<h2>Users</h2>
<ul>
  <li *ngFor="let user of (users$ | async)">
    {{user.username}} ({{user.firstName}} {{user.lastName}})
    - <a (click)="deleteUser(user.key)" class="text-danger">Delete</a>
  </li>
</ul>
<p><button type="button" class="btn btn-primary" (click)="logout()">Logout</button></p>